/* CSS Document */
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#container {
  margin: auto;
  width: 85%;
  border-radius: 25px;
  border: 4px solid #333232;
}

body {
  background-image: url("images/gravel.png");
  background-color: #646464;
  font-family: 'Shadows Into Light Two', Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-container > div {
  font-size: 25px;
}

.topHeader {
  font-size: 20px;
  height: 30px;
  font-weight: bold;
  background-color: #071533;
  color: white;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

@media (max-width: 600px) {
  .topHeader {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

header {
  color: #071533;
  background-color: #646464;
  font-size: 45px;
  font-weight: bolder;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

@media (max-width: 600px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

nav {
  background-color: #3a093a;
}

nav .topnav {
  overflow: hidden;
}

nav .topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav .active {
  background-color: #3a093a;
  color: white;
}

nav .topnav .icon {
  display: none;
}

nav .dropdown {
  float: left;
  overflow: hidden;
}

nav .dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

nav .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

nav .topnav a:hover,
nav .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

nav .dropdown-content a:hover {
  background-color: #3a093a;
  color: white;
}

nav .dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  nav .topnav a:not(:first-child),
  nav .dropdown .dropbtn {
    display: none;
  }
  nav .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  nav .topnav.responsive {
    position: relative;
  }
  nav .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  nav .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  nav .topnav.responsive .dropdown {
    float: none;
  }
  nav .topnav.responsive .dropdown-content {
    position: relative;
  }
  nav .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

.row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background-color: #8abdf7;
  max-width: 100%;
}

.row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  justify-items: center;
  margin: 10px;
  background-image: url("images/gravel.png");
}

.row3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3a093a;
  color: white;
  width: 100%;
  padding: 10px;
}

#middle {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: none;
  line-height: 1.5em;
  text-align: left;
  text-transform: none;
  font-size: medium;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #8abdf7;
  padding: 10px;
}

@media (max-width: 600px) {
  #middle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 48%;
  padding: 10px;
}

@media (max-width: 600px) {
  section {
    width: 100%;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 48%;
  padding: 10px;
}

@media (max-width: 600px) {
  main {
    width: 100%;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.twoColumns {
  -webkit-columns: 2;
          columns: 2;
  -webkit-column-width: 200px;
          column-width: 200px;
  -webkit-column-fill: balance;
          column-fill: balance;
}

.column {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.miracle {
  border-radius: 20px;
}

.purpleBubble {
  background-color: #3a093a;
  color: white;
  padding: 30px;
  border-radius: 25px;
  text-align: center;
}

.button {
  color: #071533;
  background-color: white;
  border-radius: 25px;
  font-size: 30px;
  padding: 20px;
  border: 2px solid #646464;
  -webkit-box-shadow: 5px 5px 5px #383737;
          box-shadow: 5px 5px 5px #383737;
  font-size: 16px;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  position: relative;
}

.button:hover {
  background-color: #3a093a;
  color: #8abdf7;
}

.button:hover a {
  color: #8abdf7;
  text-decoration: none;
  font-weight: bold;
}

.button a {
  color: #071533;
  font-weight: bold;
  text-decoration: none;
}

.figure1, .figure2, .figure3, .figure4 {
  background-color: #646464;
  padding: 25px;
  width: 270px;
  -webkit-box-shadow: 5px 5px 5px #131212;
          box-shadow: 5px 5px 5px #131212;
  -webkit-transition: -webkit-transform 1.5s ease-in-out .3s;
  transition: -webkit-transform 1.5s ease-in-out .3s;
  transition: transform 1.5s ease-in-out .3s;
  transition: transform 1.5s ease-in-out .3s, -webkit-transform 1.5s ease-in-out .3s;
}

.figure1:hover, .figure2:hover, .figure3:hover, .figure4:hover {
  -webkit-transform: scaleY(1.5) scaleX(1.5);
          transform: scaleY(1.5) scaleX(1.5);
}

.austinMap {
  -webkit-transition: -webkit-transform 1.5s ease-in-out .3s;
  transition: -webkit-transform 1.5s ease-in-out .3s;
  transition: transform 1.5s ease-in-out .3s;
  transition: transform 1.5s ease-in-out .3s, -webkit-transform 1.5s ease-in-out .3s;
}

.austinMap:hover {
  -webkit-transform: scaleY(2) scaleX(2);
          transform: scaleY(2) scaleX(2);
}

img {
  margin: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: inline-block;
}

figcaption {
  font-size: .9em;
  font-style: italic;
  text-align: center;
  color: white;
}

.peyton {
  border: 2px solid white;
  margin-top: 10px;
}

.upcoming {
  font-size: 30px;
  text-decoration: underline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.upcoming2 {
  font-size: medium;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  line-height: 1.7em;
}

div ul li {
  text-align: left;
}

form {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("images/gravel.png");
  border: 3px solid black;
}

@media (max-width: 600px) {
  form {
    width: 100%;
    margin: 0;
  }
}

form h2 {
  padding: 5px;
}

.formatLabel {
  display: inline-block;
  width: 150px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .formatLabel {
    text-align: left;
  }
}

input[type=text] {
  width: 65%;
  padding: 12px;
  margin: 8px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

textarea[name=message] {
  width: 65%;
  padding: 12px;
  margin: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 600px) {
  textarea[name=message] {
    width: 100%;
    margin: 0;
  }
}

input[type=submit] {
  background-color: #071533;
  border-radius: 25px;
  border-color: white;
  color: white;
  padding: 5px 22px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px;
  margin-left: 150px;
}

@media (max-width: 600px) {
  input[type=submit] {
    margin-left: 0;
  }
}

input[type=reset] {
  background-color: #646464;
  border-radius: 25px;
  border-color: white;
  color: white;
  padding: 5px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 25px;
}

select[id=contact] {
  width: 65%;
  padding: 12px;
  margin: 8px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #071533;
  color: white;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 15px;
  font-size: larger;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

@media (max-width: 600px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.popup {
  position: absolute;
  top: 200px;
  left: 40%;
  z-index: 1;
  -webkit-animation-name: spin, float;
          animation-name: spin, float;
  -webkit-animation-duration: 3s, 8s;
          animation-duration: 3s, 8s;
  -webkit-animation-direction: normal, normal;
          animation-direction: normal, normal;
  -webkit-animation-delay: 0s, 7s;
          animation-delay: 0s, 7s;
  -webkit-animation-timing-function: ease-in, linear;
          animation-timing-function: ease-in, linear;
  -webkit-animation-fill-mode: forwards, forwards;
          animation-fill-mode: forwards, forwards;
}

.popupimage {
  width: 100%;
  margin: 0 auto;
  border: hidden;
  padding: 0;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: scale(0) rotateZ(0deg);
            transform: scale(0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: scale(1.5) rotateZ(360deg);
            transform: scale(1.5) rotateZ(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: scale(0) rotateZ(0deg);
            transform: scale(0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: scale(1.5) rotateZ(360deg);
            transform: scale(1.5) rotateZ(360deg);
  }
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
  20% {
    -webkit-transform: translateY(0) translateX(0) scale(0.5);
            transform: translateY(0) translateX(0) scale(0.5);
  }
  100% {
    -webkit-transform: translateY(225px) translateX(990px) scale(0.5);
            transform: translateY(225px) translateX(990px) scale(0.5);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
  20% {
    -webkit-transform: translateY(0) translateX(0) scale(0.5);
            transform: translateY(0) translateX(0) scale(0.5);
  }
  100% {
    -webkit-transform: translateY(225px) translateX(990px) scale(0.5);
            transform: translateY(225px) translateX(990px) scale(0.5);
  }
}
/*# sourceMappingURL=finalStyles.css.map */